- @channels.each_with_index do |channel, i|
  - if i != 0
    .col-md-12.separator
  %article.col-md-12
    %a{href: channel_path(channel)}
      .col-md-2
        = image_tag channel.image, class: 'img-responsive'
    .col-md-10
      %h2
        = Channel::SRC_HOST[channel.video_type]
        = link_to channel.name, channel_path(channel)
      %p
        %time{pubdate: '', datetime: l(channel.created_at, format: :short)}
          = Video.diff_time(channel.created_at)
      %p
        = t('general.videos', count: channel.videos.length)
      - if can? :manage, channel
        %p
          = link_to t('form.delete'), channel, method: 'DELETE', data: { confirm: "#{t('form.sure')}" }

- if @channels.count > 0
  .col-md-12.separator

= simple_form_for Channel.new do |f|
  = f.input :api_id
  = f.input :video_type, collection: Channel::SRC_HOST.map { |host, i| [ i, host ] }, prompt: t('channel.choose_channel_type')
  %label.col-lg-2
  = f.button :submit, class: 'btn-info', value: t('general.send')