- if @channel.validated?
  - @channel.videos.each_with_index do |video, i|
    - if i != 0
      .col-md-12.separator
    %article.col-md-12
      %a{href: video_path(video)}
        .col-md-2
          = image_tag video.image, class: 'img-responsive'
      .col-md-10
        - if video.playlist
          %h2 #{link_to video.playlist.title, video.playlist} - #{link_to video.name, video_path(video)}
        - else
          %h2 ??? - #{link_to video.name, video_path(video)}
        %p
          %time{pubdate: '', datetime: l(video.created_at, format: :short)}
            = video.diff_time
        - if can? :manage, video
          %p
            = link_to t('form.edit'), edit_video_path(video)
            = link_to t('form.delete'), video, method: 'DELETE', data: { confirm: "#{t('form.sure')}" }

  - if @channel.videos.count > 0
    .col-md-12.separator

  - if can? :manage, @channel
    = simple_form_for Video.new do |f|
      = f.input :channel_id, input_html: { value: @channel.id }, as: :hidden
      = f.input :playlist_id, collection: Playlist.get_user_playlists(current_user), prompt: t('channel.choose_serie')
      = f.input :api_id
      %label.col-lg-2
      = f.button :submit, class: 'btn-info', value: t('general.send')
      = link_to t('general.back'), channels_path, class: 'btn btn-default'
- else
  = t('channel.validation_text_html', key: @channel.validation_key, link: (link_to t('channel.validate_channel'), channel_path, method: 'PUT'))