%h3 Gestion des permissions

Pour :
= @cooperation.user.user_name

<br>

- @cooperation_permissions.each do |coop|
  = coop.permission.label
  <br>
  = link_to t('views.delete_permission'), coop, method: 'DELETE', data: { confirm: "#{t('form.sure')}" }
  <br>

%h3 Add new

= simple_form_for @new_cooperation_permission do |f|
  = f.input :cooperation_id, input_html: { value: @cooperation.id }, as: :hidden
  = f.input :permission_id, collection: Permission.all, prompt: t('form.choose_permission'), label: t('form.permission')
  = f.button :submit

= link_to t('views.return_to_coop'), cooperation_path(@cooperation.channel)