%h3 Gestion des permissions

Pour :
= link_to @channel.name, @channel

%br

- @cooperation_permissions.each do |coop|
  = link_to coop.user.user_name, coop.user
  = coop.permission.label
  = link_to t('views.delete_permission'), coop, method: 'DELETE', data: { confirm: "#{t('form.sure')}" }
  %br

%h3 Add new

= simple_form_for @new_cooperation_permission do |f|
  = f.input :channel_id, input_html: { value: @channel.id }, as: :hidden
  = f.input :user_id, collection: User.where.not(id:@cooperation_permissions.map(&:user_id)).where.not(current_user.id), prompt: t('form.choose_user'), label: t('form.user'), label_method: :user_name
  = f.input :permission_id, collection: Permission.all, prompt: t('form.choose_permission'), label: t('form.permission'), label_method: :label
  = f.button :submit, class: 'btn-info'

= link_to t('views.return_to_channel'), channel_path(@channel)