= render partial: 'messages/menu'

- if @messages.count == 0
  = t('general.no_messages')
- else
  - @messages.each_with_index do |message, i|
    - if i != 0
      .col-md-12.separator
    %article.col-md-12
      %a{href: message_path(message)}
        .col-md-4
          = image_tag message.owner.avatar.url('thumb'), class: 'img-responsive'
      .col-md-8
        %h2
          = link_to truncate(message.title, length: 100), message
        %h3
          By
          = link_to message.owner.user_name, message.owner
        %p
          = truncate(message.message, length: 400)
          %p
            %time{pubdate: '', datetime: l(message.created_at, format: :short)}
            = Video.diff_time(message.created_at)
          = link_to t('form.delete'), message, method: 'DELETE', data: { confirm: "#{t('form.sure')}" }