= render partial: 'messages/menu'

%article.col-md-12
  %h3
    By #{link_to @message.owner.user_name, @message.owner} -
  %h2
    = @message.title
  %p
    = @message.message
    %p
      %time{pubdate: '', datetime: l(@message.created_at, format: :short)}
      = Video.diff_time(@message.created_at)
    = link_to t('form.delete'), @message, method: 'DELETE', data: { confirm: "#{t('form.sure')}" }