<h2><%= t('user.new_password')%> </h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
  </div>

  <div class="form-actions">
    <label class="col-lg-2"></label>
    <%= f.button :submit, t('user.new_password_instruction'), class: 'btn-info' %>
    <%= render "devise/shared/links" %>
  </div>
<% end %>