- if can? :edit, @video
  = simple_form_for @video do |f|
    = f.input :playlist_id, collection: Playlist.where('user_id = ?', current_user.id), prompt: t('form.choose_serie'), label: t('form.serie')
    = f.input :name
    = f.input :description
    %label.col-lg-2
    = f.button :submit, class: 'btn-info', value: t('general.send')
    = link_to t('general.back'), channel_path(@video.channel), class: 'btn btn-default'