.col-md-12.profile_buttons
  %h2
    #{link_to @video.playlist.title, playlist_path(@video.playlist)} - #{@video.name}
  .pull-right
    %span.glyphicon.glyphicon-eye-open
    = @video.impressionist_count
    = render partial: 'shared/votes', locals: Vote::get_params(@video)
.clear
%br
.col-md-12
  = @video.get_player
.col-md-12
  - if @video.comments.count > 0
    .col-md-12.separator
  = render partial: 'shared/comments', locals: Comment::get_params(@video)