%h3 Articles
- articles = Article.where("#{param_name} = ?", object.id)
- articles.each do |article|
  Par :
  = article.user.user_name
  <br>
  = article.title
  <br>
  = article.content
  <br>
  - if can? :delete, article
    = link_to t('views.delete_article'), article, method: 'DELETE', data: { confirm: "#{t('form.sure')}" }
  <hr>

- article = Article.new
- article[param_name] = object.id
- if can? :create, article
  %h3 Poster un article

  = simple_form_for article do |f|
    = f.input param_name, input_html: { value: object.id }, as: :hidden
    = f.input :title, label: t('from.article_title')
    = f.input :content, label: t('from.article_content')
    = f.button :submit