%div{id: :comment_block}
  = render partial: 'shared/comments_posts', locals: { comments: comments, param_name: param_name, id: id }

- if can? :create, Comment
  .col-md-12.separator
  = simple_form_for Comment.new, remote: true do |f|
    = f.input param_name, input_html: { value: id }, as: :hidden
    = f.input :content, input_html: { placeholder: 'Message', autocomplete: 'off' }
    %label.col-lg-2
    = f.button :submit, class: 'btn-info', value: t('general.send')