%div{id: :comment_block}
  %h3 Commentaires
  - comments.each do |comment|
    = l(comment.created_at)
    %br
    #{comment.user.user_name}: #{comment.content}
    - if can? :destroy, comment
      = button_to t('views.delete_comment'), comment, method: :delete, remote: true
    %br

  - if can? :create, Comment
    %h3 Poster un commentaire
    = simple_form_for Comment.new, remote: true do |f|
      = f.input param_name, input_html: { value: id }, as: :hidden
      = f.input :content, label: t('from.comment_content')
      = f.button :submit