%nav.navbar.navbar-default{role: 'navigation'}
  .navbar-header
    %button.navbar-toggle{'data-target' => '#navbar-collapse-01', 'data-toggle' => 'collapse', type: 'button'}
      %span.sr-only Toggle navigation
    = link_to 'Occuli', root_path, class: 'active navbar-brand'
  #navbar-collapse-01.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li.active
        = link_to t('nav.home'), root_path, class: :active
      %li
        = link_to t('nav.view_series'), playlists_path
      %li
        = link_to t('nav.view_channel'), channels_path
      %li
        = link_to t('nav.view_categories'), categories_path
      %p.navbar-text
        - if user_signed_in?
          Welcome #{link_to current_user.user_name, edit_user_registration_path} (#{link_to t('nav.logout'), destroy_user_session_path, method: 'delete'})
        - else
          = link_to t('nav.login'), new_user_session_path
    %form.navbar-form.navbar-right{action: '/search', method: :GET, role: 'search'}
      .form-group
        .input-group
          = text_field_tag :q, nil, placeholder: t('views.search'), class: 'form-control'
        %button.btn.btn-default{type: 'submit'}
          = t('views.search')