.col-md-2.side-menu
  %nav
    = link_to t('nav.home'), root_path, class: (current_page?(root_path) ? 'active' : '')
    = link_to t('nav.series'), root_path
    = link_to t('nav.users'), root_path
    = link_to t('nav.top'), root_path
    .separator
    - if user_signed_in?
      = link_to t('nav.profile'), edit_user_registration_path, class: (current_page?(edit_user_registration_path) ? 'active' : '')
      = link_to t('nav.my_channel'), channels_path, class: (current_page?(channels_path) ? 'active' : '')
      = link_to t('nav.my_series'), playlists_path, class: (current_page?(playlists_path) ? 'active' : '')
      = link_to t('nav.subscriptions'), subscription_index_path, class: (controller.controller_name == 'subscription' ? 'active' : '')
      = link_to t('nav.disconnect'), destroy_user_session_path, method: 'delete'
      .separator
      .text-center
        - if get_new_videos(current_user.id) > 0
          %a{href: subscription_index_path}
            %p
              = t('nav.new_videos_html', count: get_new_videos(current_user.id))
        - if get_new_messages(current_user.id) > 0
          %a{href: messages_path}
            %p
              = t('nav.new_messages_html', count: get_new_messages(current_user.id))
        - if 0 > 0
          %a{href: ''}
            %p
              = t('nav.new_comments_html', count: 0)
    - else
      = link_to t('nav.login'), new_user_session_path, class: (current_page?(new_user_session_path) ? 'active' : '')
      = link_to t('nav.subscribe'), new_user_registration_path, class: (current_page?(new_user_registration_path) ? 'active' : '')