.col-md-2.side-menu
  %nav
    = link_to t('nav.home'), root_path, class: (current_page?(root_path) ? 'active' : '')
    = link_to t('nav.series'), root_path
    = link_to t('nav.users'), root_path
    = link_to t('nav.top'), root_path
    .separator
    - if user_signed_in?
      = link_to t('nav.profile'), edit_user_registration_path, class: (current_page?(edit_user_registration_path) ? 'active' : '')
      = link_to t('nav.my_channel'), channels_path, class: (current_page?(channels_path) ? 'active' : '')
      = link_to t('nav.my_series'), playlists_path, class: (current_page?(playlists_path) ? 'active' : '')
      = link_to t('nav.subscriptions'), subscription_index_path, class: (current_page?(subscription_index_path) ? 'active' : '')
      = link_to t('nav.disconnect'), destroy_user_session_path, method: 'delete'
    - else
      = link_to t('nav.login'), new_user_session_path, class: (current_page?(new_user_session_path) ? 'active' : '')
      = link_to t('nav.subscribe'), new_user_registration_path, class: (current_page?(new_user_registration_path) ? 'active' : '')
    .separator
    .text-center
      %p
        = t('nav.new_messages_html', count: 1)
      %p
        = t('nav.new_comments_html', count: 16)