- content_for :top do
  = render partial: 'shared/slider'

- if can? :manage, Category
  .col-md-12
    = link_to t('category.new'), new_category_path, class: 'btn btn-info'
    .clear
    %br

- @categories.each_with_index do |category, i|
  .col-md-12{class: (i != 0) ? 'separator' : ''}
    %article.category.col-md-2
      = link_to (image_tag category.icon.url(:thumb), class: 'img-responsive'), category_path(category)
      .row
        .col-md-12.category-name
          = link_to category.label, category_path(category)
    .col-md-10.category-articles{id: 'videos_' + category.id.to_s}
      .videos-block.col-md-12
        - category.get_featured_videos.each do |video|
          %article.serie.col-md-2.video-list
            %a{href: video_path(video), title: video.name}
              = image_tag video.image, class: 'img-responsive'
            %a.serie-name{href: playlist_path(video.playlist), title: video.playlist.title} #{truncate(video.playlist.title, length: 100)} :
            %a.video-name{href: video_path(video), title: video.name} #{truncate(video.name, length: 100)}
            %br
            %span.view-counter
              = t('general.video_views', count: video.impressionist_count)
            %span.posted_date.pull-right
              %time{pubdate: '', datetime: l(video.created_at, format: :short)}
                = video.diff_time
            .clear

.text-center
  = will_paginate @categories, renderer: BootstrapPagination::Rails