- content_for :top do
  = render partial: 'shared/slider'

- @categories.each_with_index do |category, i|
  .col-md-12{class: (i != 0) ? 'separator' : ''}
    %article.category.col-md-2
      = image_tag category.icon.url(:thumb), class: 'img-responsive'
      .row
        .col-md-12.category-name
          = category.label
    .col-md-10.category-articles{id: 'videos_' + category.id.to_s}
      .videos-block.col-md-12
        - category.get_featured_videos.each do |video|
          %article.serie.col-md-2.video-list
            %a{href: video_path(video), title: video.name}
              %img.img-responsive{alt: '', src: video.image}
            %a.serie-name{href: playlist_path(video.playlist), title: video.playlist.title} #{video.playlist.title} :
            %a.video-name{href: video_path(video), title: video.name} #{video.name}
            %br
            %span.view-counter
              = t('general.video_views', count: video.impressionist_count)
            %span.posted_date.pull-right #{video.diff_time}
            .clear