- content_for :top do
  = render partial: 'shared/slider'

- @likes.each_with_index do |like, i|
  - if i != 0
    .col-md-12.separator

  - if like.user
    %article.col-md-12
      .col-md-4
        = image_tag 'http://www.cakesandbakes.com/beta/teamimages/avatar_profile.png', width: 258, height: 129
      .col-md-8
        .col-md-1
          %span.badge.blue
            16
        .col-md-11
          %h2
            = like.user.user_name
          %p
            = like.user.description
          %p
            #{like.user.videos.length} #{t('videos')}
            %span.view-counter #{like.user.get_views} #{t('video_views')}

  - if like.playlist
    %article.col-md-12
      .col-md-4
        = image_tag like.playlist.icon.url(:thumb), class: 'img-responsive'
      .col-md-8
        .col-md-1
          %span.badge.blue
            16
        .col-md-11
          %h2
            = like.playlist.title
          %p
            = like.playlist.description
          %p
            #{like.playlist.videos.length} #{t('videos')}
            %span.view-counter #{like.playlist.get_views} #{t('video_views')}
      .col-md-12
        &nbsp;
        %p
          &nbsp;
          #{t('featuring')} :
          %button.btn.btn-info.btn-xs{type: 'button'} #{like.playlist.user.user_name}
          - like.playlist.participations.each do |participation|
            %button.btn.btn-info.btn-xs{type: 'button'} #{participation.user.user_name}