- content_for :top do
  = render partial: 'shared/slider'

- if @like.get_unseen_videos(current_user.id).count == 0
  = t('general.no_videos')
- else
  - @like.get_unseen_videos(current_user.id).each_with_index do |video, i|
    - if i != 0
      .col-md-12.separator
    %article.col-md-12
      %a{href: video_path(video)}
        .col-md-4
          = image_tag video.image, class: 'img-responsive'
      .col-md-8
        - if video.seen == nil
          %span.badge.blue
            = t('general.new_video')
        %h2
          = link_to video.name, video_path(video)
        %p
          = truncate(video.description, length: 400)
          %p
            %time{pubdate: '', datetime: l(video.created_at, format: :short)}
              = video.diff_time