- if can? :manage, @category
  = simple_form_for @category, :html => {:multipart => true } do |f|
    = f.input :label
    = f.input :slug_label, :input_html => { value: @category.slug_label }, as: :hidden
    = f.input :icon, as: :file
    %label.col-lg-2
    = f.button :submit, class: 'btn-info', value: t('general.send')
    = link_to t('general.back'), category_path(@category), class: 'btn btn-default'