%h2
  = t('categories')

- @categories.each do |category|
  = link_to category.label, category
  = link_to t('form.delete'), category, method: 'DELETE', data: { confirm: "#{t('form.sure')}" }
  %br

- if can? :manage, Category
  %h3
    = t('add_category')
  = simple_form_for Category.new do |f|
    = f.input :label
    = f.button :submit