%p
  = link_to t('general.back'), playlist_path(@playlist), class: 'btn btn-default'

.panel.panel-info
  .panel-heading
    %h4
      = t('serie.edit_serie')
  .panel-body
    = simple_form_for @playlist, :html => {:multipart => true } do |f|
      = f.input :title
      = f.input :description
      = f.input :icon, as: :file, required: (@playlist.icon)?false:true
      %label.col-lg-2
      = f.button :submit, class: 'btn-info', value: t('general.send')

.panel.panel-info
  .panel-heading
    %h4
      = t('serie.participants')
  .panel-body
    %table.table.table-striped
      %tr
        %th #{t('activerecord.attributes.participation.user_id')}
        %th #{t('activerecord.attributes.participation.comment')}
        %th #{t('form.action')}
      %tr
        %td{colspan: 3}
          = link_to @playlist.user.user_name, @playlist.user
      - @playlist.participations.each do |su|
        %tr
          %td
            = link_to su.user.user_name, su.user
          %td
            = su.comment
          %td
            = link_to t('form.delete'), su, method: 'DELETE', data: { confirm: "#{t('form.sure')}" }, class: 'btn btn-danger btn-xs'

    = simple_form_for Participation.new do |f|
      = f.input :user_id, as: :string
      = f.input :comment
      = f.input :playlist_id, input_html: { value: @playlist.id }, as: :hidden
      %label.col-lg-2
      = f.button :submit, class: 'btn-info', value: t('general.send')

.panel.panel-info
  .panel-heading
    %h4
      = t('serie.categories')
  .panel-body
    %table.table.table-striped
      %tr
        %th #{t('activerecord.attributes.playlist_category.category_id')}
        %th #{t('form.action')}
      - @playlist.playlist_categories.each do |playlist_categorie|
        %tr
          %td
            = link_to playlist_categorie.category.trans_label, playlist_categorie.category
          %td
            = link_to t('form.delete'), playlist_categorie, method: 'DELETE', data: { confirm: "#{t('form.sure')}" }, class: 'btn btn-danger btn-xs'

    = simple_form_for PlaylistCategory.new do |f|
      = f.input :playlist_id, input_html: { value: @playlist.id }, as: :hidden
      = f.input :category_id, collection: Category.where.not(id:@playlist.categories.map(&:id)), prompt: t('serie.choose_category'), label_method: :label
      %label.col-lg-2
      = f.button :submit, class: 'btn-info', value: t('general.send')

.panel.panel-info
  .panel-heading
    %h4
      = t('serie.permissions')
  .panel-body
    %table.table.table-striped
      %tr
        %th #{t('activerecord.attributes.cooperation_permission.user_id')}
        %th #{t('activerecord.attributes.cooperation_permission.permission')}
        %th #{t('form.action')}
      - @cooperation_permissions.each do |coop|
        %tr
          %td
            = link_to coop.user.user_name, coop.user
          %td
            = t(CooperationPermission::PERMISSIONS[coop.permission])
          %td
            = link_to t('form.delete'), coop, method: 'DELETE', data: { confirm: "#{t('form.sure')}" }, class: 'btn btn-danger btn-xs'

    = simple_form_for CooperationPermission.new do |f|
      = f.input :playlist_id, input_html: { value: @playlist.id }, as: :hidden
      = f.input :user_id, as: :string
      = f.input :permission, collection: CooperationPermission::PERMISSIONS.map { |key, value| [t(value), key] }, prompt: t('serie.choose_permission')
      %label.col-lg-2
      = f.button :submit, class: 'btn-info', value: t('general.send')

%p
  = link_to t('general.back'), playlist_path(@playlist), class: 'btn btn-default'