%h2 Series

%h3 Your series
- @playlists.each do |playlist|
  = image_tag playlist.icon.url(:thumb)
  = link_to playlist.title, playlist
  - if can? :manage, playlist
    = link_to t('form.delete'), playlist, method: 'DELETE', data: { confirm: "#{t('form.sure')}" }
    = link_to t('form.edit'), edit_playlist_path(playlist)
  %br

%h3 Add a serie
= simple_form_for @new_playlist, :html => {:multipart => true } do |f|
  = f.input :title
  = f.input :description, as: :text
  = f.input :icon, as: :file
  = f.button :submit, class: 'btn-info'