.col-md-12
  .col-md-12.profile_buttons
    %h2
      = @playlist.title
    .pull-right
      %span.glyphicon.glyphicon-user
      = @playlist.likes.count
      - if current_user
        = render partial: 'shared/likes', locals: Like::get_params(@playlist, current_user)
      = render partial: 'shared/votes', locals: Vote::get_params(@playlist)
      - if current_user && current_user.id == @playlist.user.id
        = link_to t('serie.edit_serie'), edit_playlist_path(@playlist), class: 'btn btn-warning'
  .clear
  %br
  = image_tag @playlist.icon.url(:banner), class: 'img-responsive'
  .col-md-12
    = @playlist.description
  .col-md-12
    - if @playlist.playlist_categories.count > 0
      %p
        %h4
          = t('serie.categories')
        - @playlist.playlist_categories.each do |playlist_categorie|
          = link_to playlist_categorie.category.label, playlist_categorie.category, class: 'btn btn-info btn-xs'
    %p
      %h4
        = t('serie.owner')
      = link_to @playlist.user.user_name, @playlist.user, class: 'btn btn-info btn-xs'
    - if @playlist.participations.count > 0
      %p
        %h4
          = t('serie.participants')
        - @playlist.participations.each do |su|
          = link_to su.user.user_name, su.user, class: 'btn btn-info btn-xs'
          = su.comment
    .col-md-12
    - if @playlist.videos.count > 0
      .col-md-12.separator
    - @playlist.videos.each_with_index do |video, i|
      - if i != 0
        .col-md-12.separator
      %article.col-md-12
        %a{href: video_path(video)}
          .col-md-4
            = image_tag video.image, class: 'img-responsive'
        .col-md-8
          %h2
            #{link_to truncate(video.name, length: 100), video_path(video)}
          %p
            = truncate(video.description, length: 400)
            %p
              %time{pubdate: '', datetime: l(video.created_at, format: :short)}
                = video.diff_time
              %span.view-counter
                = t('general.video_views', count: video.impressionist_count)

- if @playlist.comments.count > 0
  .col-md-12.separator

= render partial: 'shared/comments', locals: Comment::get_params(@playlist)