<!DOCTYPE html>
%html
  %head
    %title Occuli
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = render partial: 'shared/header'
    %div.container
      %div.wrapper
        = render partial: 'shared/navigation'
        = render partial: 'shared/flash_messages'
        = yield
  %footer
    %div.wrapper
      ©Chy 2001-2087